    
@media screen and (max-width:640px) {
    .serviceArea .slider .pagerArea{width: 100%; z-index: 2; position: relative;}
    .serviceArea .slider > div .pager a{display: block; padding: 3.750rem 0; background-color: white; box-sizing: border-box; text-align: center; border-width: 1px 1px 1.250rem; border-style: solid; border-color: transparent; position: relative; }
    .serviceArea .slider > div .pager{text-align: center;}
    .serviceArea .slider > div .pager a strong{display: block; font-size: 2.000rem; font-weight: 700; padding-top: 8.125rem; margin-bottom: 1.563rem; background-repeat: no-repeat; background-position: center top; background-size: 5.375rem 6.250rem;}
    .serviceArea .slider > div:nth-of-type(1) .pager a strong{background-image: url('../images/serviceIcon01.png');}
    .serviceArea .slider > div:nth-of-type(2) .pager a strong{background-image: url('../images/serviceIcon02.png');}
    .serviceArea .slider > div:nth-of-type(3) .pager a strong{background-image: url('../images/serviceIcon03.png');}
    .serviceArea .slider > div .pager a p{font-size: 1.375rem; font-weight: 500; line-height: 1.875rem; min-height: 8.750rem; max-width: 430px; margin: 0 auto;}
    .serviceArea .slider > div .pager a span.material-icons{font-size: 1.125rem; font-weight: 700; padding: 0.313rem; color: #888888; border: 1px solid #888888;}
    .serviceArea .slider > div:nth-of-type(1)[aria-hidden="false"] .pager strong{background-image: url('../images/serviceIcon01_active.png');}
    .serviceArea .slider > div:nth-of-type(2)[aria-hidden="false"] .pager strong{background-image: url('../images/serviceIcon02_active.png');}
    .serviceArea .slider > div:nth-of-type(3)[aria-hidden="false"] .pager strong{background-image: url('../images/serviceIcon03_active.png');}
    .serviceArea .slider > div[aria-hidden="false"] .pager a{border-color: #de0000; }
    .serviceArea .slider > div[aria-hidden="false"] .pager a span.material-icons{color: #de0000; border-color: #de0000;}
    .serviceArea .slider > div[aria-hidden="false"] .pager a::after{content: ''; position: absolute; left: calc(50% - 0.938em); bottom: -2.188rem; width: 0; height: 0; border-width: 0.938rem 0.938rem 0; border-style: solid; border-color: #de0000 transparent transparent;} 

    .serviceArea .bx-wrapper { box-shadow: none; border: none; background-color: #f3f3f3; margin-bottom: 0;}
    .serviceArea .slider > div{background-color: #f3f3f3; text-align: left; padding-bottom: 3.750rem;}
    .serviceArea .slider > div ul{padding-top: 5.000rem;}
    .serviceArea .slider > div ul li:not(:last-child){margin-bottom: 6.250rem;}
    .serviceArea .slider > div ul li strong{display: block; font-size: 1.750rem; font-weight: 700; padding-top: 6.875rem; margin-bottom: 2.188rem; background-repeat: no-repeat; background-position: left top; background-size: 5.625rem;}
    .serviceArea .slider > div ul li:nth-child(1) strong{background-image: url('../images/service01_01.png');}
    .serviceArea .slider > div ul li:nth-child(2) strong{background-image: url('../images/service01_02.png');}
    .serviceArea .slider > div ul li:nth-child(3) strong{background-image: url('../images/service01_03.png');}
    .serviceArea .slider > div ul li p{font-size: 1.188rem; font-weight: 400; line-height: 1.813rem; color: #666666;}
}
